* {
    font-family: 'Bai Jamjuree', sans-serif;

    /* impossible to select any text */
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    user-select: none !important;
    /**/

}

/* hides the scrollbar */
*::-webkit-scrollbar {
    display: none;
}

/* navbar menu */
.menuButton {
    position: absolute;
    top: 25px;
    left: 25px;
    padding: 10px 12px;
    background-color:  rgba(248, 249, 250, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
.menuButton:hover {
    opacity: 0.8;
    transition: all 0.3s ease 0s;
}

/* icon color on offcanvas footer */
i {
    color: black;
}

.m20 {
    margin: 20px;
}

.menuLoc {
    display: flex;
    flex-direction: row;
    align-self: center;
    font-size: 14px;
}